@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
 margin:0;
 padding: 0;
 outline: 0;
}
body{
  background-color: hsl(213, 100%, 79%);
}
.filter{
  height: auto;
 position: fixed;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 z-index: 1;
 background: rgb(0, 13, 255);
background: -moz-linear-gradient(90deg, rgb(14, 17, 174) 0%, rgb(0, 94, 255) 100%);
background: -webkit-linear-gradient(90deg, rgb(65, 0, 242) 0%, rgb(0, 242, 202) 100%);
background: linear-gradient(90deg, rgb(184, 189, 189) 0%, rgb(29, 1, 67) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1",endColorstr="#c74ae9",GradientType=1);
opacity: .7;
}
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 80%; 
 background-color: #1d75b9;
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 85px rgba(1, 9, 39, 0.7);
 border-radius: 12px 12px 0 0;
 margin-top: 150px;
 margin-bottom: 200px;
  border-radius: 30px;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #1d75b9;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(115, 131, 202) 100%);
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

.error {
  border: 1.4px solid red;
  padding: 6px;
}
.success {
  border: 1.4px solid green;
  padding: 6px;
}
span {
  color: red;
  font-size: 13px;
}